click==8.1.8
elasticsearch==9.0.1
Flask==3.1.0
ipdb==0.13.13
numpy==2.2.5
obfuscation_detection==0.7.2
pandas==2.2.3
python-decouple==3.8
PyYAML==6.0.2
scikit_learn==1.6.1
setuptools==65.5.1
tqdm==4.67.1
